.search-form {
  background-color: hsl(var(--bg-secondary));
  border-radius: 1rem;

  position: relative;

  i {
    color: hsl(var(--primary));

    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);

    .search-icon {
      width: 1.25rem;
      height: 1.25rem;

      /* Responsiveness */
      /* Screen sizes >= 768px */
      @media screen and (width >= 48em) {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  #search-input {
    width: 100%;
    background-color: hsl(var(--bg-secondary));
    color: hsl(var(--text-primary));
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 2rem;

    transition: border-color 250ms ease-in-out;

    &:focus-within {
      border-color: hsl(var(--primary));
      outline: none;
    }

    &::placeholder {
      color: hsl(var(--text-secondary));
      font-size: 0.8rem;
    }

    /* Responsiveness */
    /* Screen sizes >= 768px */
    @media screen and (width >= 48em) {
      padding: 1rem 1rem 1rem 3rem;

      &::placeholder {
        font-size: 1rem;
      }
    }
  }

  .search-btn {
    background-color: hsl(var(--primary));
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    text-transform: capitalize;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;

    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);

    transition: 250ms ease-in-out;
    transition-property: background-color, color;

    &:where(:hover, :focus-visible) {
      background-color: hsla(var(--primary) / 0.5);
      color: hsla(0, 0%, 100%, 0.5);
    }

    &:disabled {
      background-color: hsla(var(--primary) / 0.5);
      color: hsla(0, 0%, 100%, 0.5);
      cursor: not-allowed;
    }

    /* Responsiveness */
    /* Screen sizes >= 768px */
    @media screen and (width >= 48em) {
      font-size: 1.2rem;
    }
  }
}
