.app {
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;

  background-color: hsl(var(--bg-primary));
  color: hsl(var(--text-primary));
  font-family: var(--ff);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* For theme toggles */
  transition: 250ms ease-in-out;
  transition-property: background-color, color;

  .wrapper {
    width: calc(100% - 2rem);
    margin-inline: auto;

    /* Responsiveness */
    /* Screen sizes >= 768px */
    @media screen and (width >= 48em) {
      max-width: 45rem;
    }

    /* Screen sizes >= 1024px */
    @media screen and (width >= 64em) {
      max-width: 60rem;
    }

    /* Screen sizes >= 1440px */
    @media screen and (width >= 90em) {
      max-width: 75rem;
    }
  }

  .sr-only {
    width: 1px;
    height: 1px;
    overflow: hidden;

    position: absolute;
    top: auto;
    left: -99999px;
  }
}
